@import url('https://fonts.googleapis.com/css2?family=Merienda&family=VT323&display=swap');
body{
   display: flex;
  /* align-items: center; */
  justify-content:center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-image: url('./photos/background.jpg');
  background-repeat: none;
  
}
.rat{
  height: 20vh;
   left: 0px;
   bottom: 0px;
   position: relative;
}
@media screen and (min-width: 400px ) {

  .rat {
    height: 30vh;
    top: 100px;
    left:-17rem;
    position: relative;
  
  }
}
.header{
font-family: 'Merienda', cursive;
padding-bottom: 3vh;

}


.card {
  display: flex;
  width: 20em;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px rgba(78, 122, 109, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
  align-items: center;

}

.results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
padding-top: 5%;
}
.main{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
 color: rgb(255, 145, 0);
 /* padding-bottom: 50%; */
 height:98%;
 bottom:0px;
 /* position: relative; */

}

.text{
  display: flex;
  align-items:center;
  margin: auto;

}
.nutritionFacts{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}